{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <h2 class="text-center">Invoice</h2>

    <div class="invoice-box">
        <h4>Order #{{ order.id }}</h4>
        <p><strong>Date:</strong> {{ order.order_date }}</p>
        <p><strong>Customer Name:</strong> {{ order.customer.name }}</p>
        <p><strong>Phone:</strong> {{ order.customer.phone }}</p>
        <p><strong>Shipping Address:</strong> {{ order.address }}</p>
        <p><strong>Payment Method:</strong> {{ order.payment_method }}</p>

        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price (Per Item)</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>Rs. {{ item.price|floatformat:2 }}</td>
                    <td>Rs. {{ item.total_price|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h4 class="text-right">Total Amount: Rs. {{ order.total_amount|floatformat:2 }}</h4>
    </div>
</div>
<h2 style="text-align:center;">Happy shopping</h2>
{% endblock %}
